# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
target/
.idea/

eureka-server/target
config-server/target
spring-gateway/target
order-service/target